<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169;  ReminderAPP </b></a>
    <span class="quote text-light">No Stress, Feel Relaxed, It will Remind You Everything.....</span>
    <br>
    <h6 style="color: blue;"></h6>
</nav>
<div class="d-flex " style="padding-top: 100px;">
    <table class="table table-striped" style="text-align: center; color: rgb(241, 238, 238); font-weight: 1000; ">
        <thead>
            <tr>
                <td> DATE </td>
                <td> EVENT DESCRIPTION </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of events">
                <td>{{data.date}}</td>
                <td>{{data.events}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="form-group text-center d-flex justify-content-around" >

    <button type="button" routerLink="" style="border: 1px solid rgb(49, 209, 214); background-color: black; color: white;" class="btn ">Login</button>

    <button type="button" routerLink="/dashboard" style="border: 1px solid rgb(49, 209, 214); background-color: black; color: white;" class="btn ">Home</button>

    <button type="button" (click)="deleteAcc()" style="border: 1px solid rgb(49, 209, 214); background-color: black; color: white;" class="btn ">Delect Account</button>

       
</div>

